*{
  margin: 0;
  padding: 0;
 }
 
 html{
     width: 100vw;
     height: 100vh;
 }
 
 /* CSS which you need for blurred box */
 body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(https://w.wallhaven.cc/full/4x/wallhaven-4x3o34.jpg);/* original img :- http://bit.ly/2gPLxZ4*/
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
   font-weight: 400;
  -webkit-font-smoothing: antialiased; 
 }
 
 .blurred-box{
   position: relative;
   width: 490px;
   height: 450px;
   top: calc(50% - 220px);
   left: calc(50% - 250px);
   background: inherit;
   border-radius: 2px;
   overflow: hidden;
 }
 
 .blurred-box:after{
  content: '';
  width: 600px;
  height: 600px;
  background: inherit; 
  position: absolute;
  left: -5px;
  left position
  right: 0;
  top: -25px;  
  top position 
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
  filter: blur(10px);
 }
 
 
 /* Form which you dont need */
 .user-login-box{
   position: relative;
   margin-top: 50px;
   text-align: center;
   z-index: 1;
 }
 .user-login-box > *{
   display: block;
   width: 200px;
 }
 
 .user-name{
   margin-top: 15px;
   margin-bottom: 15px;
   margin-left: 29%;
   color: white;
 }
 
 input.acc{
   width: 140px;
   height: 18px;
   opacity: 0.4;
   border-radius: 2px;
   padding: 15px 19px;
   border: 0;
   margin-top: 5%;
   margin-left: 20%;
   text-align: center;
 }
 input.mail{
  width: 140px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 15px 19px;
  border: 0;
  margin-top: -6%;
  margin-left: 50%;
  text-align: center;
}
 input.pass{
  width: 140px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 15px 10px;
  border: 0;
  margin-top: 30px;
  margin-left: 35%;
  text-align: center;

}
#but
{
  display: block;
  margin-left: 29%;
  margin-top: 30px;
}

#but2
{
  width: 65px;
  margin-left: 60%;
  margin-top: 35px;
}
#but3
{
  width: 65px;
  margin-left: 60%;
  margin-top: 35px;
}
.detail
{
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  margin-top: -115px;
  opacity: 0.4;
  border-radius: 2px;
  border: 0;
  margin-left: 20%;
}
 